@import "dimensions.scss";

.header {
  .header_contact_wrapper {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    .header_contact {
      display: flex;
      justify-content: space-between;
      max-width: $max_page_width;
      width: $max_page_width;
      padding: 10px;
      span {
        padding: 5px 0px 5px 5px;
      }
    }
  }
  .header_main_wrapper {
    background-color: #83D0CA;//#79ccc5eb;
    border: 5px dotted white;
    border-width: 5px 0;
    border-top-color: #f1f1f1;
    display: flex;
    justify-content: center;
    .header_main {
      display: flex;
      justify-content: space-between;
      max-width: $max_page_width;
      width: $max_page_width;

      padding: 0 10px;
      a {
        color: white;
        font-weight: bold;
        text-decoration: none;
        font-size: 24px;
        &:hover {
          color: black;
        }
        &.current {
          text-decoration: underline;
        }
      }
      .mainNav {
        margin: 0;
        padding: 0;
        display: flex;
        &>li {
          &:hover {
            ul {
              display: block;
            }
          }
          position: relative;
          padding: 10px 20px 10px 0px;

          ul {
            background-color: #f1f1f1;
            position: absolute;
            display: none;
            left: -10px;
            top: 48px;

            color: black;
            li {
              white-space: nowrap;
              margin: 10px;
              border-bottom: 1px solid white;
              &:last-child {
                border-bottom: 0px;
              }

              a {
                color: black;

              }
            }
          }
        }
      }
      .language {
        display: flex;
        li {
          margin: 4px;
          &:last-child {
            margin-right: 0px;
          }
          a {
            font-size: 12px;
            &:hover {
              color: black;
            }
          }
        }
      }
    }
  }
}
